# Altium 历史记录
History/

# Project Logs
Project Logs for *

# 预览文件
__Previews/

# 编译缓存
*.DsnWrk
*.DCB
*.DEP
*.DPL

# 临时文件
*.bak
*.BAK
*.tmp
*.TMP
*.err

# 输出目录
Project Outputs*/
Outputs*/
Fabrication*/
Production*/
Output/

# Gerber
*.GBR
*.GTL
*.GBL
*.GTS
*.GBS
*.GTO
*.GBO
*.GM*
*.DRL

# BOM
*BOM*.xlsx
*BOM*.csv

# PDF输出
*.pdf

# Windows
Thumbs.db
Desktop.ini

# VSCode
.vscode/

# JetBrains
.idea/